.recipe-list {
    text-align: left;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.recipe-list h2 {
    margin-bottom: 1rem;
}

.recipe-list .recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.recipe-list .recipe-container div {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-list h3 {
    font-size: 1.5rem;
}

.recipe-list p {
    margin-bottom: 0.5rem;
}

.recipe-list .recipe-image {
    width: 200px;
    height: auto;
}

.recipe-list button {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    background-color: #ff8888;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-list button:hover {
    background-color: #ff8888;
}